@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
    src: url('../fonts/Montserrat/static/Montserrat-Light.ttf');
}

/* normalize */

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* default style */
a {
    text-decoration: none;
    color: #fff;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

p {
    color: #000;
}

a:hover {
    color: #E0C0AA;
}

h1 {
    color: #fff;

}

h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 300;
    margin: 0 auto;
    text-transform: uppercase;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;

}

/* header */
.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 80px;
}

.header {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    left: 0;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2B4748;
    z-index: 2;
}

.logo {
    /* height: 60px;
   width: 60px; */
    overflow: hidden;
    position: relative;
    z-index: 3;
    border: 1px solid #F4EDE7;

}

.logo h1 {
    padding: 7px;
    margin: 0;
    text-align: center;
    letter-spacing: 3px;

}

.logo:hover {
    border-color: #E0C0AA;
}

/* .logo img {
    max-width: 100%;
    display: block;
    object-fit: cover;
} */

.burger {
    display: none;
}

.menu {
    padding: 10px;
}

.menu ul {
    display: flex;
    position: relative;
    z-index: 2;
}

.menu__list {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}

/* about  */
.about {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #F4EDE7;

}

.about_container {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;

}

.about_content {
    width: 40%;
    font-size: 18px;
    line-height: 1.5;

}

.about_edu_carousel {
    width: 50%;
    height: 350px;
}

.about_edu_carousel_item img {
    object-fit: contain;
    width: 100%;
    height: 350px;
}

/* services */
.services {
    padding-top: 80px;
}

.services_container {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    padding-top: 80px;
}

.services_card {
    width: 33.3333333%;
    height: 600px;
    background-color: #F4EDE7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services_card_chet {
    background-color: #2B4748;
}

.services_card h4 {
    font-size: 25px;
    text-transform: uppercase;
    line-height: 1.5;
}

.services_card p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}

.services_card a {

    background-color: #E0C0AA;
    padding: 10px 25px 10px 25px;
    border-radius: 3px;

}

.services_card a:hover {
    background-color: #2B4748;
    color: #fff;
}

.services_card_chet a:hover {
    background-color: white;
    color: #000;
}

.services_card_chet h4,
.services_card_chet p {
    color: #fff;
}

/* feedback */
.feedback {
    margin-top: 60px;
    background-color: #F4EDE7;
    padding-bottom: 80px;
}

.feedback_header {
    padding-top: 80px;
    padding-bottom: 80px;
}

.feedback_slider_item {
    width: 350px;
    padding: 10px;
}

.feedback_slider_item img {
    width: 350px;
    overflow: hidden;
    object-fit: cover;

}

/* questions */
.questions {
    margin-top: 60px;
    padding-bottom: 100px;
}

.questions_header {
    padding-bottom: 80px;
}

.questions_accordion {
    border: 1px solid #E6E6E6;
}

.questions_accordion_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

.accordion_icon {
    height: 1px;
    width: 10px;
    position: relative;
}

.accordion_icon:before {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #000;
    position: absolute;

}

.accordion_icon::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #000;
    position: absolute;
    transform: rotate(-90deg);
    transition: transform .3s;

}

.accordion_header {
    padding-left: 10px;
    font-size: 16px;
}

.accordion_item_content {
    padding-left: 15px;
    font-size: 16px;
    display: none;
}

.questions_accordion_item:hover {
    background-color: #2B4748;
    cursor: pointer;

}

.questions_accordion:hover .accordion_header {
    color: #fff;
}

.questions_accordion:hover .accordion_icon::before,
.questions_accordion:hover .accordion_icon::after {
    background-color: #fff;
}

.questions_accordion_item.active {
    background-color: #E0C0AA;
    color: #fff;
}

.questions_accordion_item.active .accordion_icon::after {
    transform: rotate(0deg);
    background-color: #fff;
}

/* footer */
.footer {
    background-color: #2B4748;
}

.footer_container_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright p {
    color: #fff;
    ;
}

.social a {
    margin-left: 15px;
    font-weight: 300;
}

.instagram {
    font-size: 20px;
}

/* tablet */
@media (max-width:1023px) {

    /* normalize */
    h1 {
        margin: 5px;
        font-size: 22px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 15px;
    }

    p {
        font-size: 14px;
    }

    /* header */
    .menu__list {
        margin-left: 20px;
        font-size: 14px;

    }

    /* about */
    .about {
        padding-top: 100px;
    }

    .about_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }

    .about_content,
    .about_edu_carousel {
        width: 100%;
        text-align: center;

    }

    .about_edu_carousel {
        padding-top: 15px;
    }

    /* services */
    .services_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .services_card {
        width: 60%;
        padding: 15px;
    }


    .services_card h4 {
        font-size: 20px;
    }

    .services_card p {
        font-size: 18px;
    }

    /* feedback */
    .feedback_slider_item img {
        width: 90%;
    }

    /* footer */
    .social a {
        font-size: 14px;
    }
}

/* mobile */
@media (max-width:767px) {

    /* normalize */
    h1 {
        margin: 5px;
        font-size: 20px;
    }

    h2 {
        font-size: 23px;
    }

    h3 {
        font-size: 14px;
    }

    h4 {
        font-size: 14px;
    }

    p {
        font-size: 13px;
    }

    /* header */
    .header_container {
        height: 50px;
    }
    .logo {
        transform: scale(0.7);
    }

    body.lock {
        overflow: hidden;
    }

    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 4;
        transform: scale(0.8);

    }

    .burger:before,
    .burger:after {
        height: 2px;
        width: 100%;
        background-color: #fff;
        content: '';
        position: absolute;
        transition: all .3s ease 0s;
        -webkit-transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;
        left: 0;

    }

    .burger:before {
        top: 0px;
    }

    .burger:after {
        bottom: 0px;
    }

    .burger span {
        height: 2px;
        width: 100%;
        background-color: #fff;
        content: '';
        position: absolute;
        left: 0;
        top: 9px;


    }

    .burger.active_burger:before {
        transform: rotate(45deg);
        top: 9px;

    }

    .burger.active_burger:after {
        transform: rotate(-45deg);
        bottom: 9px;

    }

    .burger.active_burger span {
        display: none;
    }

    .menu {
        position: fixed;
        top: -200%;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #2B4748;
        opacity: .98;
        padding: 70px 10px 0px 0px;
        transition: all .3s;
        -webkit-transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;

        overflow: auto;
    }

    .menu ul {
        display: block;
    }

    .menu__list {
        margin-bottom: 20px;
        font-size: 18px;
        text-align: center;

    }

    .menu.active_burger {
        top: 0;
    }

    /* about */
    .about {
        padding-top: 80px;
    }

    .about_content_text {
        font-size: 14px;
    }

    /* services */
    .services_card {
        width: 100%;
        padding: 15px;
        height: 500px;
    }

    .services_card h4 {
        font-size: 18px;
    }

    .services_card p {
        font-size: 16px;
    }

    /* feedback */
    .feedback_header {
        padding-bottom: 30px;
    }

    .feedback_slider_item img {
        width: 100%;
    }

    /* qusetions */
    .questions_header {
        padding-bottom: 40px;
    }

    .accordion_header {
        font-size: 13px;
    }


    /* footer */
    .footer_container_flex {
        flex-direction: column-reverse;
        align-items: center;
    }

    .copyright p {
        margin: 6px;
        font-size: 11px;
    }

    .social a {
        font-size: 11px;
    }

}